p {
    margin: 0;
}

.post-div {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    padding: 20px;
}

.profile-picture {
    width: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    border-radius: 25px;
}

.container {
    display: flex;
}

.left-section {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    flex: 1;
    margin-top: 10px;
}

.main-section {
    flex: 3;
    height: 3000px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    padding: 50px;
}

.post-like-icon,
.post-comments-icon,
.post-share-icon,
.post-repost-icon {
    width: 20px;
}

.right-section {
    flex: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    margin-top: 10px;
}

.post-profile-info {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: center;
}

.post-actions-div {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post-layout {
    display: flex;
    flex-direction: column;
}

.post-actions {
    flex: 1;
    margin-right: 300px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}

.post-profile-picture-div {
    margin-bottom: 10px;
}

.post-profile-name {
    margin-bottom: 10px;
    max-width: 200px;
    text-align: center;
}